# Dependencies
node_modules
package-lock.json
yarn.lock

# Build outputs
.next
out
build
dist

# Config files
.prettierrc
.prettierignore
components.json
next-env.d.ts

# IDE
.vscode
.idea

# Misc
coverage
*.tsbuildinfo
.husky
*.svg

# Binary / static assets
public
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.webp
*.woff
*.woff2
*.ttf
*.eot
*.mp4
*.pdf