@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);
@import 'tw-animate-css';

@tailwind utilities;
*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}
@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 834px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1440px;

  --container-sm: 375px;
  --container-md: 834px;
  --container-lg: 1440px;
  --container-xl: 1440px;
  --container-2xl: 1440px;
}

@theme inline {
  --color-blue-50: oklch(97% 0.02 255);
  --color-blue-100: oklch(93% 0.04 255);
  --color-blue-200: oklch(88% 0.07 254);
  --color-blue-300: oklch(81% 0.12 252);
  --color-blue-400: oklch(71% 0.17 255);
  --color-blue-500: oklch(35% 0.09 255);
  --color-blue-600: oklch(62% 0.21 260);
  --color-blue-700: oklch(55% 0.24 263);
  --color-blue-800: oklch(49% 0.22 264);
  --color-blue-900: oklch(44% 0.18 265);
  --color-blue-950: oklch(28% 0.1 268);
}

/* semantic colors */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.363 0.077 258.083);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.215 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.87 0 0);
  --ring-error: oklch(0.808 0.103 19.571);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.371 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.97 0 0);
  --primary-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.205 0 0);
  --muted-foreground: oklch(0.715 0 0);
  --accent: oklch(0.205 0 0);
  --accent-foreground: oklch(0.97 0 0);

  --destructive: oklch(0.499 0.126 21.533);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.371 0 0);
  --input: oklch(1 0 0 / 5%);
  --ring: oklch(0.371 0 0);
  --ring-error: oklch(0.389 0.09 21.22);

  --sidebar: oklch(0.145 0 0);
  --sidebar-foreground: oklch(0.87 0 0);
  --sidebar-primary: oklch(0.985 0 0);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.205 0 0);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.371 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-ring-error: var(--ring-error);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* chart colors */
:root {
  --chart-1: oklch(0.656 0.272 352.199);
  --chart-2: oklch(0.605 0.107 184.165);
  --chart-3: oklch(0.397 0.07 227.191);
  --chart-4: oklch(0.829 0.171 81.038);
  --chart-5: oklch(0.772 0.173 65.367);
  --positive-foreground: oklch(0.605 0.107 184.165);
  --negative-foreground: oklch(0.648 0.217 37.071);
}

.dark {
  --chart-1: oklch(0.488 0.243 264.405);
  --chart-2: oklch(0.702 0.158 160.438);
  --chart-3: oklch(0.771 0.172 65.685);
  --chart-4: oklch(0.622 0.259 305.309);
  --chart-5: oklch(0.643 0.245 16.501);
  --positive-foreground: oklch(0.702 0.158 160.438);
  --negative-foreground: oklch(0.643 0.245 16.501);
}

@theme inline {
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-positive-foreground: var(--positive-foreground);
  --color-negative-foreground: var(--negative-foreground);
}

/* shadows */
:root {
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);

  --shadow-2xs: 0 1px 0 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 2px 0 hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 4px 6px -1px hsl(0 0% 0% / 0.1), 0 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 10px 15px -3px hsl(0 0% 0% / 0.1), 0 4px 6px -4px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 20px 25px -5px hsl(0 0% 0% / 0.1), 0 8px 10px -6px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 25px 50px -12px hsl(0 0% 0% / 0.25);
}

@theme {
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* typography */
:root {
  --font-sans: Geist, sans-serif;
  --font-heading: Geist, sans-serif;
  --font-mono: Regular, monospace;
  --font-serif: Geist, serif;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --text-heading-1-size: 3rem;
  --text-heading-1-leading: 3rem;
  --text-heading-1-tracking: -0.031em;
  --text-heading-1-weight: 600;
  --text-heading-2-size: 1.875rem;
  --text-heading-2-leading: 1.875rem;
  --text-heading-2-tracking: -0.033em;
  --text-heading-2-weight: 600;
  --text-heading-3-size: 1.5rem;
  --text-heading-3-leading: 1.8rem;
  --text-heading-3-tracking: -0.042em;
  --text-heading-3-weight: 600;
  --text-heading-4-size: 1.25rem;
  --text-heading-4-leading: 1.5rem;
  --text-heading-4-weight: 600;
  --text-paragraph-regular-size: 1rem;
  --text-paragraph-regular-leading: 1.5rem;
  --text-paragraph-small-size: 0.875rem;
  --text-paragraph-small-leading: 1.25rem;
  --text-paragraph-mini-size: 0.75rem;
  --text-paragraph-mini-leading: 1rem;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-bold: var(--font-weight-bold);
  --text-heading-1: var(--text-heading-1-size);
  --text-heading-2: var(--text-heading-2-size);
  --text-heading-3: var(--text-heading-3-size);
  --text-heading-4: var(--text-heading-4-size);
  --text-paragraph-regular: var(--text-paragraph-regular-size);
  --text-paragraph-small: var(--text-paragraph-small-size);
  --text-paragraph-mini: var(--text-paragraph-mini-size);
}
