.appBar {
  background-color: #1f293d;
  color: azure;
}

.pageTemplate {
  background-color: rgb(244, 242, 242);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1%;
}

.pageTemplate-dark {
  background-color: #1f293d;
  color: azure;
}

.leftbar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 10%;
  margin-right: 10%;
}

.midcontent {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  width: fit-content;
}

.mid {
  width: 100%;
  min-width: fit-content;
}

.box-title {
  padding-top: 3%;
  margin:5%;
}

.midBox {
  border-radius: 10px;
  background-color: rgb(244, 242, 242);
  color: black;

  height: auto;
  
}

.midBox-dark {
  border-radius: 10px;
  background-color: #1f293d;
  color: azure;

  height: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1f293d;
  color: azure;
  min-height: 200px;
  width: 100%;
  min-width: auto;
}

.footer-item {
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map {
  min-width: 200px;
  height: 50%;
  width: 100%;
  border-radius: 10px;
}



.landing-img{
  height:240px ; 
  width :240px;
  border-radius: 10px;
 
}

.landing-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:1%;
}

.landing-content{
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  margin:1%;

  justify-content: center;
  align-items: center;
  text-align: center;

}

.landing-bottom{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1%;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}


.tech-stack{
  display :flex;
  flex-direction: column;
}
